<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}" />
<meta name="twitter:description" content="{{ .Params.twitter.description }}" />
<meta name="twitter:site" content="{{ $.Site.BaseURL }}" />
<meta name="twitter:creator" content="{{ .Params.Author }}" />
<meta name="twitter:image" content="{{ with .Params.twitter.image }}{{ . | absURL }}{{ end }}">

<style type="text/css">
html {
  letter-spacing: unset;
}
</style>
